.timingInfo {
  background: #fff;
  color: #A80000;
  padding: 2px 4px;
  border-radius: 4px;
}

.timingText {
  font-size: 10px;
  text-align: center;
}

@media (orientation: landscape) {
  .timingText {
    font-size: 16px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .timingInfo {
    padding: 4px 10px;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;
    display: block;
    margin-top: 1rem;
  }
} 